<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

		#editor, iframe, video {
			height: 100vh;
			width: 100vw;
			border: none;
			position: fixed;
			top: 0;
			left: 0
		}

		h1, h2, h3, input, button, p {
			font-family: 'Poppins', sans-serif;
		}
		
		body {
			overflow: hidden;
			background-color: #272822;
		}
	</style>
	<title>SamuelOS</title>
</head>
<body>
	{{{body}}}
</body>
</html>