<div id="editor" style="height:900px;width:100%;">
	An error occured while creating or deleting the file: {{error}}
</div>
<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js"></script>
<script>
	ace.config.set('basePath', 'https://pagecdn.io/lib/ace/1.4.12/');
	var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
	editor.session.setMode("ace/mode/text");
</script>
<hr />
<a href="/?pass={{pass}}">Back</a>