<div id="editor">
	{{{content}}}
</div>
<script src="https://pagecdn.io/lib/ace/1.4.12/ace.min.js"></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/ext-modelist.js"></script>
<script>
	ace.config.set('basePath', 'https://pagecdn.io/lib/ace/1.4.12/');
	var editor = ace.edit("editor");
  editor.setTheme("ace/theme/{{theme}}");
	var modelist = ace.require("ace/ext/modelist");
	var folderPath = window.location.href.replace("http://", "").replace("https://", "").split("/")[1];
	var filePath = window.location.href.replace("http://", "").replace("https://", "").split("/")[2];
	var mode = modelist.getModeForPath(filePath).mode;
	editor.session.setMode(mode);
	setInterval(function() {
		fetch('/api/edit?folder=' + folderPath + '&file=' + filePath + '&pass={{pass}}', {
			method: 'post',
			body: editor.getValue()
		}).then(function(response) {
			return response.text();
		}).then(function(data) {
			if (data !== "OK") {
				alert("An error occured while saving your file. Copy your work and try again.");
			}
		});
	}, 5000);
</script>