<style>
	body {
		background-image: url('{{wallpaper}}');
	}
</style>
<h1 style="font-size:70px;">SamuelOS</h1>
<hr />
<h2>Log In:</h2>
<form action="/">
	<input type="password" name="pass" />
	<input type="submit" />
</form>
<hr />
<p class="attr">SamuelOS 1.1 Underground</p>