{{!-- You may replace "your org" with the name of your organization. --}}
<h2>Please enter your org's password:</h2>
<form action="/">
	<input type="password" name="pass" />
	<input type="submit" />
</form>